{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content"> 
    <hr>
    <h1 style="text-align: center"><b>Search a Product</b></h1>
    <hr>
    <div class="form" style="text-align: center;">
        <form action="/scrap" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Search">
        </form>
    </div>
</div>
{% endblock %}